*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    background: #000;
    overflow-x: hidden ;
    color: white;

    
}
body{
    padding: 3rem;
}

section{
    height: 100dvh;
    width: 100%;
    max-height: 100dvh;
    max-width: 100%;
    border-bottom: 0.063rem solid white; /*temporary */
    display: flex;
    flex-direction: column;
    
    
}